<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Minh Thanh Duong" content="author">
    <title>THE GOOD MART | OFFLINE MODE</title>
    <link rel="icon" href="./assets/img/mini-logo.png">
    <!-- CSS -->
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="stylesheet" href="./assets/offline.css">
    <!-- !CSS -->

    <!-- AOS CSS effect -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- !AOS CSS effect -->

</head>
<body>
    <div class="offline">
        <h1>
           We are so sorry! Website is under maintainence.
        </h1>
        <br>
        <form action="./login.html">
            <button class="input-shape" > Admin Mode</button>
        </form>
        
    </div>
</body>
</html>